@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@font-face {
  font-family: 'Mobo Bold';
  src: url('../../_fonts/MOBO-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  &::after {
    content: '';
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 5vw;
    pointer-events: none;
    display: block;
    background: url('../../_images/bg-rounded-top.svg') no-repeat top;
    background-size: 100% auto;

    @media screen and (max-width: 600px) {
      top: 56px;
    }
  }
}

.Mui-disabled {
  color: #707070 !important;
  background: #ccc !important;
  overflow: hidden;
}
